<?xml version="1.0" encoding="utf-8" ?>
<odoo>
<!-- parent menu -->
    <menuitem id="menu_patient_root"
              name="Hospital"
              web_icon="om_hospital,static/description/icon.png"
              sequence="0"/>
<!-- child menu -->
    <menuitem id="menu_patient_master"
              name="Patient Details"
              parent="menu_patient_root"
              sequence="0"/>

</odoo>